[submodule "elisp/ace-jump-mode"]
	path = elisp/ace-jump-mode
	url = https://github.com/winterTTr/ace-jump-mode.git
[submodule "elisp/ESS"]
	path = elisp/ESS
	url = https://github.com/emacs-ess/ESS.git
