[submodule "elisp/ace-jump-mode"]
	path = elisp/ace-jump-mode
	url = https://github.com/winterTTr/ace-jump-mode.git
[submodule "elisp/ESS"]
	path = elisp/ESS
	url = https://github.com/emacs-ess/ESS.git
[submodule "elisp/expand-region"]
	path = elisp/expand-region
	url = https://github.com/magnars/expand-region.el.git
[submodule "elisp/git-modes"]
	path = elisp/git-modes
	url = https://github.com/magit/git-modes.git
[submodule "elisp/multiple-cursors"]
	path = elisp/multiple-cursors
	url = https://github.com/magnars/multiple-cursors.el.git
